@import '~bootstrap/scss/bootstrap.scss';
//@import '~font-awesome/css/font-awesome.min.css';

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif
}

.canvas {
  position: absolute;
  .first {
    z-index: 1;
  }
}

.hidden {
  display: none;
}